.root {
  .label {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }

  .check {
    transition: all 0.2s ease-in-out;
    height: 40px;
    width: 40px;
    border: 2px solid #900000;
  }
  // BEGIN SPECIAL STATES ---------- //
  &.checked {
    .label {
      transition: all 0.2s ease-in-out;
      color: rgba(10, 145, 48, 0.6);
    }

    .check {
      transition: all 0.2s ease-in-out;
      background-color: #fff;
      border: 2px solid rgba(10, 145, 48, 0.6);
      &:after {
        border-color: rgba(10, 145, 48, 0.6);
        // border-style: solid;
        // border-width: 0 $checkbox-check-thickness $checkbox-check-thickness 0;
        // content: "";
        width: 8px;
        height: 16px;
        // transform: rotate(45deg);
        // margin-top: $checkbox-check-vertical-offset;
      }
    }
  }
  // END SPECIAL STATES ---------- //
}
