.item {
  font-family: 'apercu-pro', sans-serif;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(66, 244, 226, 0.6);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  font-size: 150%;
}
