.input {
  width: 25%;
  transition: all 0.4s ease-in-out;

  &.errored {
    border-color: rgba(#de3226, 0.5);

    &:focus {
      border-color: rgba(#de3226, 0.5);
    }

    &:hover {
      border-color: rgba(#de3226, 0.5);
    }
  }

  &:focus {
    width: 50%;
    border-color: rgba(10, 145, 48, 0.8);
    outline: none;
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    border-color: rgba(10, 145, 48, 0.8);
    transition: all 0.2s ease-in-out;
  }
}
