.bar {
  height: 50px;
  border: 3px solid rgba(85, 85, 85, 1);
  background: rgba(85, 85, 85, 0.9);
}

.progress {
  background-color: #f1a165;
  background-image: linear-gradient(to bottom, #f1a165, #f36d0a);

  &:after {
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, .2) 75%,
      transparent 75%,
      transparent
    );
    z-index: 1;
    background-size: 80px 80px;
  }
}
