.root {
  .label {
    color: rgba(10, 145, 48, 1);
    font-size: 16px;
    margin: 15px 0;
    text-align: center;
  }
  
  .stepsWrapper {
    li {
      list-style-type: none;
      float: left;
      position: relative;
      text-align: center;
      color: rgba(10, 145, 48, 0.3);

      &:before {
        content: " ";
        border-radius: 30%;
        width: 16px;
        height: 16px;
        border: 2px solid rgba(10, 145, 48, 1);
        display: block;
        margin: 0 auto 10px;
        background-color: #fff;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: rgba(10, 145, 48, 0.1);
        top: 8px;
        left: -50%;
        z-index: -1;
      }

      &:first-child:after {
        content: none;
      }

      &.active,
      &.finished {
        color: rgba(10, 145, 48, 1);
        &:before {
          border-color: rgba(10, 145, 48, 1);
        }
        &:after {
          border-color: rgba(10, 145, 48, 1);
          background-color: rgba(10, 145, 48, 1);
        }
      }

      &.finished {
        &:before {
          background-color: rgba(10, 145, 48, 1); 
        }
      }
    }
  }
}

