// Autocomplete theme customizations
$autocomplete-bg-color: #dafcd6;
$autocomplete-border: 2px solid #9fd699;
$autocomplete-border-radius: 0;
$autocomplete-border-focus-color: #356640;
$autocomplete-focus-outline: none;
$autocomplete-input-font-family: serif;
$autocomplete-min-height: 90px;
$autocomplete-padding: 5px 20px;
$autocomplete-placeholder-font-family: serif;
$autocomplete-search-color: #5e6066;
$autocomplete-placeholder-color: rgba(#5d6650, 0.5);
$autocomplete-selected-words-font-family: serif, sans-serif;
$autocomplete-selected-word-box-min-height: 28px;
$autocomplete-selected-word-text-color: #fafbfc;
$autocomplete-selected-word-box-background-color: rgba(68, 91, 124, 0.5);

@import "../../source/themes/simple/SimpleAutocomplete";
