// Button theme customizations
$button-width: 200px;
$button-bg-color-normal: #3d6243;
$button-bg-color-hover: #3e6e33;
$button-bg-color-active: #1e4a2e;
$button-bg-color-disabled: #b9c2cc;
$button-label-font: serif;
$button-label-color: #fff;
$button-font-size: 18px;
$button-border-radius: 0;
$button-padding: 15px 20px;

@import "../../source/themes/simple/SimpleButton";
