// Checkbox theme customizations

$checkbox-check-bg-color: #436e43;
$checkbox-border-color: #436e43;
$checkbox-check-thickness: 3px;
$checkbox-label-text-color: #0f492d;
$checkbox-size: 40px;

@import "../../source/themes/simple/SimpleCheckbox";
