// Modal theme customizations
$modal-overlay-color: rgba(green, 0.6);
$modal-bg: #f4ffd9;
$modal-border-radius: 0;
$modal-padding: 20px 30px;
$modal-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.25);

@import "../../source/themes/simple/SimpleModal";
