// Options theme customizations

// options
$options-border-color: #c6cdd6;
$options-border-radius: 0;
$options-font-family: serif;
$options-font-size: 16px;
$options-shadow: none;

// option
$option-bg-color: #d3fccc;
$option-bg-color-highlighted: #94cff3;
$option-padding: 14px 20px;
$option-text-color: #204f66;

// arrow
$options-arrow: true;
$options-arrow-size: 10px;

@import "../../source/themes/simple/SimpleOptions";
