// Radio theme customizations
$radio-size: 40px;
$radio-color: #bde3ff;
$radio-border-color: #3b6370;
$radio-border-width: 1px;
$radio-label-color: #335466;

@import "../../source/themes/simple/SimpleRadio";
