// Radio theme customizations

$radio-bg-color: #bde3ff;
$radio-border-color: #3b6370;
$radio-border-width: 1px;
$radio-label-text-color: #335466;
$radio-size: 40px;

@import "../../source/themes/simple/SimpleRadio";
