// Select theme customizations
$select-input-color: white;
$select-input-placeholder-color: #495863;
$select-input-bg-color: #212930;
$select-input-border-focus-color: #33415e;
$select-input-padding: 10px 20px;
$select-input-border: none;
$select-up-arrow-url: url("./assets/select-up-arrow.svg");
$select-up-arrow-focus-url: url("./assets/select-up-arrow.svg");
$select-down-arrow-url: url("./assets/select-down-arrow.svg");
$select-down-arrow-focus-url: url("./assets/select-down-arrow.svg");
$select-down-arrow-width: 11px;
$select-down-arrow-height: 7px;
$select-down-arrow-position-bottom: 20px;
$select-down-arrow-position-left: calc(100% - 32px);
$select-down-arrow-rtl-position-left: 15px;

@import "../../source/themes/simple/SimpleSelect";
