// Textarea theme customizations
$textarea-color: #356166;
$textarea-placeholder-color: rgba(#4f6665, 0.5);
$textarea-focus-outline: none;
$textarea-font-size: 14px;
$textarea-font-family: serif;
$textarea-border: 1px solid #c6cdd6;
$textarea-border-radius: 0;
$textarea-border-focus-color: #2d6166;
$textarea-padding: 14px 20px;
$textarea-bg-color: #d3fcf5;

@import "../../source/themes/simple/SimpleTextArea";
