// Toggler theme customizations
$toggler-background: #557c61;
$toggler-label-off-color: #e5fcd9;
$toggler-label-on-color: #467c47;
$toggler-label-on-background: #fafbfc;
$toggler-height: 40px;

@import "../../source/themes/simple/SimpleToggler";
