// Toggler theme customizations
$toggler-bg-color: #557c61;
$toggler-height: 40px;
$toggler-label-bg-color-on: #fafbfc;
$toggler-label-text-color-off: #e5fcd9;
$toggler-label-text-color-on: #467c47;

@import "../../source/themes/simple/SimpleToggler";
