$simple-theme-path: "./" !default;

// FONTS

$simple-theme-font-thin: 'simple-theme-font-thin' !default;
$simple-theme-font-light: 'simple-theme-font-light' !default;
$simple-theme-font-regular: 'simple-theme-font-regular' !default;
$simple-theme-font-medium: 'simple-theme-font-medium' !default;
$simple-theme-font-bold: 'simple-theme-font-bold' !default;

// BUTTON

$simple-theme-button-bg-color-normal: #243e62 !default;
$simple-theme-button-bg-color-hover: #2f496e !default;
$simple-theme-button-bg-color-active: #1e304a !default;
$simple-theme-button-bg-color-disabled: rgba(5, 6, 6, 0.3) !default;
$simple-theme-button-label-color: white !default;
$simple-theme-button-font-size: 14px !default;
$simple-theme-button-border-radius: 5px !default;
$simple-theme-button-padding: 15px 20px !default;

