$theme-font-thin: 'simple-theme-font-thin';
$theme-font-light: 'simple-theme-font-light';
$theme-font-regular: 'simple-theme-font-regular';
$theme-font-medium: 'simple-theme-font-medium';
$theme-font-bold: 'simple-theme-font-bold';

$theme-button-bg-color-normal: #243e62;
$theme-button-bg-color-hover: #2f496e;
$theme-button-bg-color-active: #1e304a;
$theme-button-bg-color-disabled: rgba(5, 6, 6, 0.3);
$theme-button-label-color: white;
$theme-button-font-size: 14px;
$theme-button-border-radius: 5px;
$theme-button-padding: 15px 20px;
