$theme-assets-path: "./assets" !default;

// FONTS

$theme-font-thin: "simple-theme-font-thin" !default;
$theme-font-light: "simple-theme-font-light" !default;
$theme-font-regular: "simple-theme-font-regular" !default;
$theme-font-medium: "simple-theme-font-medium" !default;
$theme-font-bold: "simple-theme-font-bold" !default;

// COLORS

$theme-color-error: #de3226 !default;
$theme-color-disabled: #b6b6b6 !default;
$theme-color-light-grey: #c6cdd6 !default;
