$theme-assets-path: "./assets" !default;

// FONTS

$theme-font-thin: var(--rp-theme-font-thin, "simple-theme-font-thin") !default;
$theme-font-light: var(--rp-theme-font-light, "simple-theme-font-light") !default;
$theme-font-regular: var(--rp-theme-font-regular, "simple-theme-font-regular") !default;
$theme-font-medium: var(--rp-theme-font-medium, "simple-theme-font-medium") !default;
$theme-font-bold: var(--rp-theme-font-bold, "simple-theme-font-bold") !default;

// COLORS

$theme-color-error: var(--rp-theme-color-error, #de3226) !default;
$theme-color-disabled: #b6b6b6 !default;
$theme-color-light-grey: #c6cdd6 !default;
