@import "theme";
@import "mixins/arrow";

// OVERRIDABLE CONFIGURATION VARIABLES

$options-border-color: #c6cdd6 !default;
$options-border: 1px solid $options-border-color !default;
$options-border-radius: 2px !default;
$options-font-family: $theme-font-light, sans-serif !default;
$options-font-size: 16px !default;
$options-arrow-size: 10px !default;
$options-shadow: none !default;
$option-bg-color: #fafbfc !default;
$option-font-color: #5e6066 !default;
$option-font-color-disabled: rgba(#5e6066, 0.5) !default;
$option-highlight-color: #edf0f3 !default;
$option-checkmark-color: #5e6066 !default;
$option-padding: 14px 20px !default;
// Bubble arrow
$options-bubble-arrow: true !default;

.options {
  & > div {
    padding: 0;
  }

  @if $options-bubble-arrow == true {
    [data-bubble-arrow] {
      @include arrow(
        up,
        $option-bg-color,
        $options-border-color,
        $options-arrow-size
      );
    }

    &.firstOptionHighlighted {
      &:not(.openUpward) [data-bubble-arrow] {
        @include arrow(
          up,
          $option-highlight-color !important,
          $options-border-color,
          $options-arrow-size
        );
      }
      &.openUpward [data-bubble-arrow] {
        height: inherit;
        @include arrow(
          down,
          $option-highlight-color !important,
          $options-border-color,
          $options-arrow-size
        );
      }
    }
  } @else {
    [data-bubble-arrow] {
      display: none !important;
    }
  }
}

.ul {
  width: 100%;
  padding: 0;
  list-style: none;
  font-family: $options-font-family;
  font-size: $options-font-size;
}

.option {
  background-color: $option-bg-color;
  color: $option-font-color;
  cursor: pointer;
  padding: $option-padding;

  &.selectedOption {
    display: flex;
    &:after {
      align-self: center;
      border-color: $option-checkmark-color;
      border-style: solid;
      border-width: 0 2px 2px 0;
      content: '';
      height: 9px;
      margin: 0 2px 3px auto;
      transform: rotate(45deg);
      width: 5px;
    }
  }

  &.highlightedOption {
    background-color: $option-highlight-color;
  }

  &.disabledOption {
    color: $option-font-color-disabled;
    cursor: default;
  }
}

// BEGIN SPECIAL STATES ---------- //
@if $options-bubble-arrow == true {
  .openUpward {
    &.options {
      top: inherit;

      [data-bubble-arrow] {
        @include arrow(
          down,
          $option-bg-color,
          $options-border-color,
          $options-arrow-size
        );
      }

      &.firstOptionHighlighted [data-bubble-arrow] {
        @include arrow(
          down,
          $option-highlight-color,
          $options-border-color,
          $options-arrow-size
        );
      }
    }
  }
}

// END SPECIAL STATES ---------- //
