@import "theme";

// OVERRIDABLE CONFIGURATION VARIABLES

$textarea-color: #5e6066 !default;
$textarea-placeholder-color: rgba(#5e6066, 0.5) !default;
$textarea-focus-outline: none !default;
$textarea-font-size: 16px !default;
$textarea-font-family: $theme-font-light, sans-serif !default;
$textarea-border: 1px solid #c6cdd6 !default;
$textarea-border-radius: 2px !default;
$textarea-border-focus-color: #5e6066 !default;
$textarea-padding: 14px 20px !default;
$textarea-disabled-border-color: #cfcfcf !default;
$textarea-disabled-bg-color: #fcfafa !default;
$textarea-bg-color: #fafbfc !default;
$textarea-error-color: $theme-color-error !default;

.textarea {
  background-color: $textarea-bg-color;
  border: $textarea-border;
  border-radius: $textarea-border-radius;
  box-sizing: border-box;
  color: $textarea-color;
  display: block;
  font-family: $textarea-font-family;
  font-size: $textarea-font-size;
  padding: $textarea-padding;
  width: 100%;

  &:focus {
    border-color: $textarea-border-focus-color;
    outline: $textarea-focus-outline;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.2s;
  }

  &::-webkit-input-placeholder {
    color: $textarea-placeholder-color;
  }
}

.disabled {
  background-color: $textarea-disabled-bg-color;
  border-color: $textarea-disabled-border-color;
}

.errored {
  border-color: $textarea-error-color;
}
