@import "config";

.root {
  box-sizing: border-box;
  font-size: $simple-theme-button-font-size;
  font-family: $simple-theme-font-light;
  padding: $simple-theme-button-padding;
  color: $simple-theme-button-label-color;
  background-color: $simple-theme-button-bg-color-normal;
  border: none;
  border-radius: $simple-theme-button-border-radius;

  &:not(.disabled) {
    &:hover {
      background-color: $simple-theme-button-bg-color-hover;
      cursor: pointer;
    }

    &:active {
      background-color: $simple-theme-button-bg-color-active
    }
  }

  &:focus {
    outline: none;
  }
}

.disabled {
  background-color: $simple-theme-button-bg-color-disabled;
}
