@import "theme";

// OVERRIDABLE CONFIGURATION VARIABLES

$input-width: 100% !default;
$input-font-size: 16px !default;
$input-color: #5e6066 !default;
$input-placeholder-color: rgba(#5e6066, 0.5) !default;
$input-disabled-color: #cfcfcf !default;
$input-disabled-bg-color: #fcfafa !default;
$input-border: 1px solid #5e6066 !default;
$input-border-radius: 2px !default;
$input-padding: 14px 20px !default;

.input {
  width: $input-width;
  box-sizing: border-box;
  font-size: $input-font-size;
  font-family: $theme-font-light, sans-serif;
  border:$input-border;
  border-radius: $input-border-radius;
  padding: $input-padding;
  color: $input-color;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: $input-placeholder-color;
  }
}

.disabled {
  border-color: $input-disabled-color;
  background-color: $input-disabled-bg-color;
}

.errored {
  border-color: $theme-color-error;
}
