@import "theme";

// OVERRIDABLE CONFIGURATION VARIABLES

$password-input-tooltip-font-family: var(--rp-password-input-tooltip-font-family, $theme-font-medium), sans-serif !default;
$password-input-tooltip-border-radius: var(--rp-password-input-tooltip-border-radius, 5px) !default;

// error
$password-input-error-bg-color: var(--rp-password-input-error-bg-color, #f4b5bc) !default;
$password-input-error-score-color: var(--rp-password-input-error-score-color, #ea4c5b) !default;

// warning
$password-input-warning-bg-color: var(--rp-password-input-warning-bg-color, #f7d8a1) !default;
$password-input-warning-score-color: var(--rp-password-input-warning-score-color, #f2a218) !default;

// success
$password-input-success-bg-color: var(--rp-password-input-success-bg-color, #a8e4c3) !default;
$password-input-success-score-color: var(--rp-password-input-success-score-color, #2dc06c) !default;

@mixin tooltipBubble($color) {
  :global {
    .SimpleTooltip_bubble.SimpleBubble_root [data-bubble-arrow] {
      &:before, &:after {
        border-bottom-color: $color;
      }
    }
    .SimpleTooltip_bubble .SimpleBubble_bubble {
      background-color: $color;
      border-radius: $password-input-tooltip-border-radius;
    }
  }
}

.root {
  margin-bottom: 20px;
  :global {
    .SimpleTooltip_bubble {
      font-family: $password-input-tooltip-font-family;
    }
  }
}

.indicator {
  position: relative;
  top: -2px;
  left: 1px;
  width: calc(100% - 2px);
}

.indicator, .score {
  border-radius: 1px;
  height: 2px;
  transition: width 400ms ease;
}

.error {
  :global {
    .SimpleFormField_error {
      display: none;
    }
  }
  @include tooltipBubble($password-input-error-score-color);
}

.insecure {
  .indicator {
    background-color: $password-input-error-bg-color;
  }
  .score {
    background-color: $password-input-error-score-color;
  }
  @include tooltipBubble($password-input-error-score-color);
}

.weak {
  .indicator {
    background-color: $password-input-warning-bg-color;
  }
  .score {
    background-color: $password-input-warning-score-color;
  }
  @include tooltipBubble($password-input-warning-score-color);
}

.strong {
  .indicator {
    background-color: $password-input-success-bg-color;
  }
  .score {
    background-color: $password-input-success-score-color;
  }
  @include tooltipBubble($password-input-success-score-color);
}
