@import "theme";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c8ccce;
    border: 7px solid transparent;
    border-radius: 12px;
    background-clip: content-box;
  }
}

.item {
  flex: auto;
}
