@import "config";
@import "mixins/arrow";

.dropDown {
  position: relative;
  &.isOpen {
    .dropDownInput:after {
      background-image: url('./assets/dropdown-close-arrow.svg');
    }
  }
}

.dropDownInput {
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    left: calc(100% - 32px);
    background: url('./assets/dropdown-expand-arrow.svg') no-repeat;
    width: 11px;
    height: 7px;
    -webkit-background-size: 11px;
    background-size: 11px;
  }
}

.options {
  position: relative;
  font-size: 16px;
  font-family: $theme-font-light;
  border: 1px solid #c6cdd6;
  list-style: none;
  padding: 0;
  border-radius: 2px;
  @include arrow(up, white, #c6cdd6, 10px);

  &.firstOptionHovered {
    @include arrow(up, #edf0f3, #c6cdd6, 10px);
  }
}

.option {
  padding: 14px 20px;
  &:hover {
    cursor: pointer;
    background-color: #edf0f3;
  }
}
