@import "theme";
@import "mixins/arrow";

// OVERRIDABLE CONFIGURATION VARIABLES

// GENERAL
$tooltip-font-color: white !default;
$tooltip-font-family: $theme-font-light, sans-serif !default;

.root {
  position: relative;
}

.bubble {
  font-family: $tooltip-font-family;
  color: $tooltip-font-color;
  display: none;
}

.alignRight [data-bubble-container] {
  right: 0;
}

.alignLeft [data-bubble-container] {
  left: 0;
}

.nowrap {
  white-space: nowrap;
}


// ======= SPECIAL STATES =======
.root {
  &:hover .bubble {
    display: block;
  }
}
