@import "theme";

// OVERRIDABLE CONFIGURATION VARIABLES

$textarea-color: #5e6066;
$textarea-placeholder-color: rgba(#5e6066, 0.5);
$textarea-focus-outline: none;
$textarea-font-size: 16px;
$textarea-font-family: $theme-font-light, sans-serif;
$textarea-border: 1px solid #5e6066;
$textarea-padding: 14px 20px;
$textarea-disabled-border-color: #cfcfcf;
$textarea-disabled-bg-color: #fcfafa;
$textarea-error-color: $theme-color-error;

.textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: $textarea-font-size;
  font-family: $textarea-font-family;
  border: $textarea-border;
  padding: $textarea-padding;
  color: $textarea-color;

  &:focus {
    outline: $textarea-focus-outline;
  }

  &::-webkit-input-placeholder {
    color: $textarea-placeholder-color;
  }
}

.disabled {
  .textarea {
    border-color: $textarea-disabled-border-color;
    background-color: $textarea-disabled-bg-color;
  }
}

.errored {
  .textarea {
    border-color: $textarea-error-color;
  }
}
