@import "theme";

// OVERRIDABLE CONFIGURATION VARIABLES

$switch-accent-color-off: var(--rp-switch-accent-color-off, #b4bdca) !default;
$switch-accent-color-on: var(--rp-switch-accent-color-on, #2f496e) !default;
$switch-label-color: var(--rp-switch-label-color, #5e6066) !default;
$switch-label-color-disabled: var(--rp-switch-label-color-disabled, $theme-color-light-grey) !default;
$switch-thumb-accent-color: var(--rp-switch-thumb-accent-color, #ffffff) !default;
$switch-track-border-radius: var(--rp-switch-track-border-radius, 3px) !default;
$switch-track-height: var(--rp-switch-track-height, 23px) !default;
$switch-track-width: var(--rp-switch-track-width, 50px) !default;


@mixin thumbBoxShadow($color) {
  box-shadow: -1.5px -1.5px 0 $color inset, 1.5px 1.5px 0 $color inset,
    1.5px -1.5px 0 $color inset, -1.5px 1.5px 0 $color inset;
}

%switch {
  border-radius: $switch-track-border-radius;
  height: $switch-track-height;
  margin-top: 0;
  width: $switch-track-width;
}

.root {
  display: flex;
  position: relative;
  &:hover {
    cursor: pointer;
  }

  &.disabled {
    &:hover,
    .label:hover,
    .switch:hover .thumb:hover {
      cursor: default;
    }
  }
}

.disabled {
  .label {
    color: $switch-label-color-disabled;
  }
}

.switch {
  align-self: center;
  border-radius: 3px;
  box-sizing: border-box;
  flex-shrink: 0;
  height: $switch-track-height;
  position: relative;
  transition: background-color 200ms ease-in-out;
  width: $switch-track-width;

  &:not(.checked) {
    @extend %switch;
    background-color: $switch-accent-color-off;
    .thumb {
      left: 0;
      @include thumbBoxShadow($switch-accent-color-off);
      background-color: $switch-thumb-accent-color;
    }
  }
}

.checked {
  .switch {
    @extend %switch;
    background-color: $switch-accent-color-on;
    .thumb {
      left: calc(#{$switch-track-width} - #{$switch-track-height});
      @include thumbBoxShadow($switch-accent-color-on);
      background-color: $switch-thumb-accent-color;
    }
  }
}

.input {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}

.thumb {
  border-radius: 3px;
  height: $switch-track-height;
  position: absolute;
  top: 0;
  transition: left 200ms ease-in-out;
  width: $switch-track-height;
  &:hover {
    cursor: pointer;
  }
}

.label {
  color: $switch-label-color;
  font-family: $theme-font-light;
  font-size: 16px;
  line-height: $switch-track-height;
  margin-left: 20px;
  white-space: normal;
  &:hover {
    cursor: pointer;
  }
  strong {
    font-family: $theme-font-bold;
  }
}
