@import "theme";

// OVERRIDABLE CONFIGURATION VARIABLES

$scrollbar-thumb-bg-color: var(--rp-scrollbar-thumb-bg-color, rgba(255, 255, 255, 0.1)) !default;
$scrollbar-thumb-bg-color-active: var(--rp-scrollbar-thumb-bg-color-active, rgba(255, 255, 255, 0.3)) !default;
$scrollbar-thumb-bg-color-hover: var(--rp-scrollbar-thumb-bg-color-hover, rgba(255, 255, 255, 0.3)) !default;
$scrollbar-thumb-border-radius: var(--rp-scrollbar-thumb-border-radius, 3px) !default;

.thumb {
 background-color: $scrollbar-thumb-bg-color;
 border-radius: $scrollbar-thumb-border-radius;

 &:active {
   background-color: $scrollbar-thumb-bg-color-active;
 }

 &:hover {
   background-color: $scrollbar-thumb-bg-color-hover;
 }
}