@import "theme";
@import "mixins/arrow";

// OVERRIDABLE CONFIGURATION VARIABLES

$select-input-bg-color: #fafbfc !default;
$select-input-border-focus-color: #5e6066 !default;
$select-input-padding: 0 0 0 48px !default;
$select-arrow-color: #c6cdd6 !default;
$select-arrow-focus-color: #5e6066 !default;
$select-up-arrow-url: url('#{$theme-assets-path}/select-up-arrow.svg') !default;
$select-down-arrow-url: url('#{$theme-assets-path}/select-down-arrow.svg') !default;
$select-down-arrow-width: 11px !default;
$select-down-arrow-height: 7px !default;
$select-down-arrow-position-bottom: 20px !default;
$select-down-arrow-position-left: calc(100% - 32px) !default;

.select {
  position: relative;
}

.selectInput {
  input {
    background-color: $select-input-bg-color;
    cursor: pointer;
    padding-right: $select-input-padding;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &:after {
    background-color: $select-arrow-color;
    bottom: $select-down-arrow-position-bottom;
    content: "";
    pointer-events: none;
    position: absolute;
    left: $select-down-arrow-position-left;
    height: $select-down-arrow-height;
    -webkit-mask: $select-down-arrow-url no-repeat;
    mask: $select-down-arrow-url no-repeat;
    -webkit-mask-size: $select-down-arrow-width;
    mask-size: $select-down-arrow-width;
    width: $select-down-arrow-width;
  }
}

// ======= SPECIAL STATES =======

.select {
  // ==== STATE: isOpen ====

  &.isOpen {
    input {
      border-color: $select-input-border-focus-color;
    }

    .selectInput:after {
      background-color: $select-arrow-focus-color;
      -webkit-mask-image: $select-up-arrow-url;
      mask-image: $select-up-arrow-url;
    }
  }

  // ==== STATE: openUpward ====

  &.openUpward {
    .selectInput:after {
      -webkit-mask-image: $select-up-arrow-url;
      mask-image: $select-up-arrow-url;
    }

    &.isOpen {
      .selectInput:after {
        -webkit-mask-image: $select-down-arrow-url;
        mask-image: $select-down-arrow-url;
      }
    }
  }
}
