@import "theme";

// OVERRIDABLE CONFIGURATION VARIABLES

// general
$progress-bar-height: var(--rp-progress-bar-height, 30px) !default;
$progress-bar-width: var(--rp-progress-bar-width, 100%) !default;

// track
$progress-bar-track-border-radius: var(--rp-progress-bar-track-border-radius, 5px) !default;
$progress-bar-track-color: var(--rp-progress-bar-track-color, #c6cdd6) !default;

// bar
$progress-bar-bg-color: var(--rp-progress-bar-bg-color, #34465e) !default;
$progress-bar-bg-size: var(--rp-progress-bar-bg-size, 80px 80px) !default;
$progress-bar-border-radius: var(--rp-progress-bar-border-radius, 4px) !default;
$progress-bar-fill-color: var(--rp-progress-bar-fill-color, #445b7c) !default;
$progress-bar-stripes-angle: var(--rp-progress-bar-stripes-angle, -45deg) !default;

// label
$progress-bar-label-color: var(--rp-progress-bar-label-color, white) !default;
$progress-bar-label-font-family: var(--rp-progress-bar-label-font-family, $theme-font-bold) !default;
$progress-bar-label-letter-spacing: var(--rp-progress-bar-label-letter-spacing, 0) !default;
$progress-bar-label-text-transform: var(--rp-progress-bar-label-text-transform, uppercase) !default;

.track {
  height: $progress-bar-height;
  width: $progress-bar-width;
  position: relative;
  background: $progress-bar-track-color;
  border-radius: $progress-bar-track-border-radius;
  -moz-border-radius: $progress-bar-track-border-radius;
  -webkit-border-radius: $progress-bar-track-border-radius;
}

.progress {
  height: 100%;
  border-radius: $progress-bar-border-radius;
  background-color: $progress-bar-bg-color;
  overflow: hidden;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(
      $progress-bar-stripes-angle,
      $progress-bar-fill-color 25%,
      transparent 25%,
      transparent 50%,
      $progress-bar-fill-color 50%,
      $progress-bar-fill-color 75%,
      transparent 75%,
      transparent
    );
    z-index: 1;
    background-size: $progress-bar-bg-size;
    animation: move 2s linear infinite;
    overflow: hidden;
  }
}

.label {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $progress-bar-label-color;
  text-transform: $progress-bar-label-text-transform;
  letter-spacing: $progress-bar-label-letter-spacing;
  font-family: $progress-bar-label-font-family, sans-serif;
  z-index: 2;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: $progress-bar-bg-size;
  }
}
