@import 'theme';

// OVERRIDABLE CONFIGURATION VARIABLES

$modal-overlay-color: rgba(black, 0.6) !default;
$modal-bg: white !default;
$modal-border-radius: 10px !default;
$modal-padding: 20px 30px !default;
$modal-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25) !default;

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $modal-overlay-color;
}

.modal {
  min-width: 500px;
  max-width: 640px;
  border-radius: $modal-border-radius;
  background: $modal-bg;
  padding: $modal-padding;
  box-shadow: $modal-box-shadow;
  &:focus {
    outline: none;
  }
}
