@import "theme";

// OVERRIDABLE CONFIGURATION VARIABLES

$radio-size: 23px !default;
$radio-color: white !default;
$radio-border-color: #294B70 !default;

$radio-border-disabled-color: $theme-color-disabled !default;
$radio-label-color: #5e6066 !default;
$radio-label-disabled-color: $theme-color-light-grey !default;

.root {
  display: flex;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  &.disabled {
    &:hover, .label:hover {
      cursor: default;
    }
    .label {
      color: $radio-label-disabled-color;
    }
  }
}

.input {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}

.bubble {
  align-self: center;
  border: 1px solid $radio-border-color;
  border-radius: $radio-size;
  box-sizing: border-box;
  flex-shrink: 0;
  height: $radio-size;
  width: $radio-size;

  &.selected {
    background-color: $radio-border-color;
    border-width: 0;
    position: relative;
    &:after {
      background-color: $radio-color;
      content: "";
      position: absolute;
      border-radius: 50%;
      height: 30%;
      width: 30%;
      left: 35%;
      top: 35%;
    }
  }
}


.label {
  color: $radio-label-color;
  font-family: $theme-font-light;
  font-size: 16px;
  line-height: 1.38;
  margin-left: 20px;
  white-space: normal;
  &:hover {
    cursor: pointer;
  }
  strong {
    font-family: $theme-font-bold;
  }
}
