@import 'theme';
@import 'mixins/arrow';

// OVERRIDABLE CONFIGURATION VARIABLES

$tooltip-bg-color: var(--rp-tooltip-bg-color, #fafbfc) !default;
$tooltip-font-family: var(--rp-tooltip-font-family, $theme-font-light, sans-serif) !default;
$tooltip-text-color: var(--rp-tooltip-text-color, white) !default;

.root {
  position: relative;

  // ======= SPECIAL STATES =======
  &:hover {
    .bubble {
      display: block;
    }
  }
}

.bubble {
  font-family: $tooltip-font-family;
  color: $tooltip-text-color;
  background-color: $tooltip-bg-color;
  display: none;
}

.alignRight [data-bubble-container] {
  right: 0;
}

.alignLeft [data-bubble-container] {
  left: 0;
}

.nowrap {
  white-space: nowrap;
}
