@import "theme";

// OVERRIDABLE CONFIGURATION VARIABLES

// error
$password-input-error-bg-color: var(--rp-password-input-error-bg-color, #f4b5bc) !default;
$password-input-error-score-color: var(--rp-password-input-error-score-color, #ea4c5b) !default;

// warning
$password-input-warning-bg-color: var(--rp-password-input-warning-bg-color, #f7d8a1) !default;
$password-input-warning-score-color: var(--rp-password-input-warning-score-color, #f2a218) !default;

// success
$password-input-success-bg-color: var(--rp-password-input-success-bg-color, #a8e4c3) !default;
$password-input-success-score-color: var(--rp-password-input-success-score-color, #2dc06c) !default;

@mixin bubbleColor($color) {
  :global {
    .SimpleTooltip_bubble.SimpleBubble_root [data-bubble-arrow] {
      &:before, &:after {
        border-bottom-color: $color;
      }
    }
    .SimpleTooltip_bubble .SimpleBubble_bubble {
      background-color: $color;
    }
  }
}

.root {
  // Remove bottom input border for any state but the default
  // to make room for the score indicator
  &:not(.default) {
    :global {
      .SimpleInput_input {
        border-bottom: none;
      }
    }
  }
}

.indicator, .score {
  height: 2px;
}

.error {
  .indicator {
    background-color: $password-input-error-bg-color;
  }
  .score {
    background-color: $password-input-error-score-color;
  }
  @include bubbleColor($password-input-error-score-color);
}

.warning {
  .indicator {
    background-color: $password-input-warning-bg-color;
  }
  .score {
    background-color: $password-input-warning-score-color;
  }
  @include bubbleColor($password-input-warning-score-color);
}

.success {
  .indicator {
    background-color: $password-input-success-bg-color;
  }
  .score {
    background-color: $password-input-success-score-color;
  }
  @include bubbleColor($password-input-success-score-color);
}
