@import "theme";

// OVERRIDABLE CONFIGURATION VARIABLES

$formfield-bg-color-disabled: var(--rp-formfield-bg-color-disabled, none) !default;
$formfield-label-font: $theme-font-medium !default;
$formfield-label-font-size: 16px !default;
$formfield-label-color: var(--rp-formfield-label-color, #5e6066) !default;
$formfield-label-color-disabled: var(--rp-formfield-label-color-disabled, $theme-color-disabled) !default;
$formfield-label-margin-bottom: 10px !default;
$formfield-error-color: var(--rp-formfield-error-color, rgba(#de3226, 0.5)) !default;
$formfield-error-font: $theme-font-regular !default;
$formfield-error-font-size: 14px !default;
$formfield-error-margin: 1.5px 0 11.5px 0 !default;

.root {
  position: relative;
}

.label {
  color: $formfield-label-color;
  display: block;
  font-family: $formfield-label-font, sans-serif;
  font-size: $formfield-label-font-size;
  line-height: 1.38;
  margin-bottom: $formfield-label-margin-bottom;
}

.error {
  color: $formfield-error-color;
  float: right;
  font-family: $formfield-error-font, sans-serif;
  font-size: $formfield-error-font-size;
  line-height: 1.36;
  margin: $formfield-error-margin;
}

.inputWrapper {
  position: relative;
}

// BEGIN SPECIAL STATES ---------- //

.disabled {
  background-color: $formfield-bg-color-disabled;
  .label {
    color: $formfield-label-color-disabled;
  }
}

// END SPECIAL STATES ---------- //
