@import "config";

.input {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  font-family: $theme-font-light;
  border: 1px solid #5e6066;
  padding: 14px 20px;
  color: #5e6066;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: #5e6066;
    opacity: 0.5;
  }
}

.disabled {
  border-color: #cfcfcf;
  background-color: #fcfafa;
}

.errored {
  border-color: #ea4c5b;
}
