@import "theme";
@import "SimpleInput";
@import "mixins/arrow";

// OVERRIDABLE CONFIGURATION VARIABLES

$select-input-color: $input-color !default;
$select-input-placeholder-color: $input-placeholder-color !default;
$select-input-bg-color: $input-bg-color !default;
$select-input-border-focus-color: $input-border-focus-color !default;
$select-input-padding: $input-padding !default;
$select-input-border: $input-border !default;
$select-up-arrow-url: url("#{$theme-assets-path}/select-up-arrow.svg") !default;
$select-up-arrow-focus-url: url("#{$theme-assets-path}/select-up-arrow-focus.svg") !default;
$select-down-arrow-url: url("#{$theme-assets-path}/select-down-arrow.svg") !default;
$select-down-arrow-focus-url: url("#{$theme-assets-path}/select-down-arrow-focus.svg") !default;
$select-down-arrow-width: 11px !default;
$select-down-arrow-height: 7px !default;
$select-down-arrow-position-bottom: 20px !default;
$select-down-arrow-position-left: calc(100% - 32px) !default;
$select-down-arrow-rtl-position-left: 15px !default;

.select {
  position: relative;
}

.selectInput {
  input {
    color: $select-input-color;
    background-color: $select-input-bg-color;
    border: $select-input-border;
    cursor: pointer;
    padding: $select-input-padding;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &::-webkit-input-placeholder {
      color: $select-input-placeholder-color;
    }
  }

  &:after {
    background: $select-down-arrow-url;
    background-size: $select-down-arrow-width $select-down-arrow-height;
    bottom: $select-down-arrow-position-bottom;
    content: "";
    pointer-events: none;
    position: absolute;
    left: $select-down-arrow-position-left;
    height: $select-down-arrow-height;
    width: $select-down-arrow-width;
  }
}

// BEGIN SPECIAL STATES ---------- //

// ==== STATE: isOpen ====
.isOpen {
  input {
    border-color: $select-input-border-focus-color;
  }

  .selectInput:after {
    background-image: $select-up-arrow-focus-url;
  }
}

// ==== STATE: openUpward ====
.openUpward {
  .selectInput:after {
    background-image: $select-up-arrow-url;
  }

  &.isOpen {
    .selectInput:after {
      background-image: $select-down-arrow-focus-url;
    }
  }
}
// END SPECIAL STATES ---------- //

// right-to-left languages support
body[dir='rtl'] {
  .selectInput:after {
    left: $select-down-arrow-rtl-position-left;
  }
}
