@import "theme";
@import "SimpleInput";
@import "mixins/arrow";

// OVERRIDABLE CONFIGURATION VARIABLES
$select-input-color: var(--rp-input-text-color, #5e6066) !default;
$select-input-placeholder-color: var(--rp-input-placeholder-color, rgba(#5e6066, 0.5)) !default;
$select-input-placeholder-font-family: $theme-font-light, sans-serif !default;
$select-input-bg-color: var(--rp-input-bg-color, #fafbfc) !default;
$select-input-border-color-focus: var(--rp-select-input-border-color-focus, #5e6066) !default;
$select-input-padding: $input-padding !default;
$select-input-border: 1px solid var(--rp-input-border-color, #c6cdd6) !default;
// Arrow in default state
$select-arrow-url: url("#{$theme-assets-path}/select-arrow.svg") !default;
$select-arrow-color: var(--rp-select-arrow-color, #c6cdd6) !default;
$select-arrow-width: 11px !default;
$select-arrow-height: 7px !default;
$select-arrow-position-bottom: 20px !default;
$select-arrow-position-left: calc(100% - 32px) !default;
$select-arrow-rtl-position-left: 19px !default;
// Arrow in open state
$select-arrow-url-open: url("#{$theme-assets-path}/select-open-arrow.svg") !default;
$select-arrow-color-open: var(--rp-select-arrow-color-open, #5e6066) !default;
$select-open-arrow-width: $select-arrow-width !default;
$select-open-arrow-height: $select-arrow-height !default;
$select-open-arrow-position-bottom: 21px !default;
$select-open-arrow-position-left: $select-arrow-position-left !default;
$select-open-arrow-rtl-position-left: $select-arrow-rtl-position-left !default;

.select {
  position: relative;
}

.selectInput {
  input {
    color: $select-input-color;
    background-color: $select-input-bg-color;
    border: $select-input-border;
    cursor: pointer;
    padding: $select-input-padding;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &::-webkit-input-placeholder {
      color: $select-input-placeholder-color;
      font-family: $select-input-placeholder-font-family;
    }
  }

  &:after {
    background-color: $select-arrow-color;
    -webkit-mask: $select-arrow-url;
    mask: $select-arrow-url;
    bottom: $select-arrow-position-bottom;
    content: "";
    pointer-events: none;
    position: absolute;
    left: $select-arrow-position-left;
    height: $select-arrow-height;
    width: $select-arrow-width;
  }
}

// BEGIN SPECIAL STATES ---------- //

// ==== STATE: isOpen ====
.isOpen {
  input {
    border-color: $select-input-border-color-focus;
  }

  .selectInput:after {
    -webkit-mask: $select-arrow-url-open;
    mask: $select-arrow-url-open;
    background-color: $select-arrow-color-open;
    bottom: $select-open-arrow-position-bottom;
  }
}

// ==== STATE: openUpward ====
.openUpward {
  .selectInput:after {
    -webkit-mask: $select-arrow-url-open;
    bottom: $select-open-arrow-position-bottom;
  }

  &.isOpen {
    .selectInput:after {
      -webkit-mask: $select-arrow-url;
      mask: $select-arrow-url;
      bottom: $select-arrow-position-bottom;
    }
  }
}
// END SPECIAL STATES ---------- //

// right-to-left languages support
[dir='rtl'] {
  .selectInput:after {
    left: $select-arrow-rtl-position-left;
  }
}
