.root {
  width: 50%;
  background-color: rgba(10, 145, 48, 1);

  &:not(.disabled) {
    &:hover {
      background-color: rgba(10, 145, 48, 0.5);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 0.2s;
    }
  }
}
