// these styles are being overwritten by
// the simple bubble theme, see TooltipSkin.js

.root {
  &:hover {
    .bubble {
      color: rgba(10, 145, 48, 0.8);
      transition: all 0.4s ease-in-out;
    }
  }

  .bubble {
    transition: all 0.4s ease-in-out;
  }
}
