.selectedWordBox {
  border-radius: 0px;
  transition: all 0.2s ease-in-out;
  background-color: rgba(10, 145, 48, 0.8);
  border: 2px solid rgba(10, 145, 48, 0.8);
  cursor: pointer;
  height: 40px;
  padding-top: 8px;

  &:hover {
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    background-color: #fff;
    border: 2px solid rgba(10, 145, 48, 0.8);

    .selectedWordValue {
      color: rgba(10, 145, 48, 0.8);
    }
  }

  .selectedWordValue {
    color: #fff;
  }
}
