.check {
  &:hover {
    border: 1px solid #0a9130;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.2s;
  }

  &.checked {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.2s;
    background-color: #0a9130;
  }
}

.label {
  font-size: 20px;
}
