@font-face {
  font-family: 'simple-theme-font-thin';
  src: local('Roboto'), local('Helvetica'), local('Arial');
  font-weight: 200;
}

@font-face {
  font-family: 'simple-theme-font-light';
  src: local('Roboto'), local('Helvetica'), local('Arial');
  font-weight: 300;
}

@font-face {
  font-family: 'simple-theme-font-regular';
  src: local('Roboto'), local('Helvetica'), local('Arial');
  font-weight: 400;
}

@font-face {
  font-family: 'simple-theme-font-medium';
  src: local('Roboto'), local('Helvetica'), local('Arial');
  font-weight: 500;
}

@font-face {
  font-family: 'simple-theme-font-bold';
  src: local('Roboto'), local('Helvetica'), local('Arial');
  font-weight: 600;
}
