.wrapper {
  margin: 20px;
  height: 500px;
  width: auto;
  border: 1px solid green;

  div {
    background: tomato;
    padding: 5px;
    width: 100px;
    margin: 5px;

    line-height: 100px;
    color: white;
    font-size: 15px;
    text-align: center;
  }
}


.header,
.footer {
  grid-column: 1 / span 2;
}

.header,
.main,
.aside,
.footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
