.container {
  padding: 20px;
}

.flip {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow-y: scroll;
  height: 350px;
  margin: 0px auto;
  border: 2px dashed rgb(255, 107, 129);

  &::before {
    content: '';
    display: block;
    height: 400px;
  }

  &::after {
    content: '';
    display: block;
    height: 550px;
  }
}
