.container {
  padding: 150px;
}

.customTooltip {
  margin-left: 150px;
}

.htmlTip {
  color: orange;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
}

.fitToSize {
  padding: 150px;
  :global(.SimpleBubble_bubble) {
    // size tooltip to text contained inside
    min-width: auto;
  }
}